.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    row-gap: 50px;
}

.card {
    width: 300px;
    height: 150px;
    background-color: var(--background-color-light);
    border: 1px solid #ccc;
    overflow: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card hr{
    margin-top: 20px;
    color: transparent;
    height: 2px;
    background-image: linear-gradient(
        320deg,
        hsl(11deg 90% 58%) 0%,
        hsl(9deg 89% 58%) 10%,
        hsl(8deg 89% 59%) 17%,
        hsl(6deg 89% 59%) 24%,
        hsl(4deg 88% 60%) 30%,
        hsl(2deg 88% 60%) 37%,
        hsl(0deg 87% 60%) 43%,
        hsl(358deg 87% 60%) 50%,
        hsl(356deg 87% 59%) 57%,
        hsl(354deg 87% 58%) 66%,
        hsl(352deg 87% 57%) 75%,
        hsl(350deg 87% 56%) 86%,
        hsl(348deg 87% 54%) 100%
    );
    border-radius: 5px;
}

.card p{
    margin-top: 20px;
}

.board-btns button{
    width: 45px;
    padding: 8px;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

#board-form input[type=submit], #submit-edit-btn{
    border: none;
    background-image: linear-gradient(
    30deg,
    hsl(117deg 90% 26%) 0%,
    hsl(119deg 82% 29%) 12%,
    hsl(121deg 78% 31%) 22%,
    hsl(123deg 77% 33%) 30%,
    hsl(124deg 77% 35%) 37%,
    hsl(125deg 76% 37%) 43%,
    hsl(127deg 76% 39%) 48%,
    hsl(128deg 77% 40%) 54%,
    hsl(130deg 77% 42%) 60%,
    hsl(131deg 78% 44%) 68%,
    hsl(132deg 79% 45%) 76%,
    hsl(134deg 80% 47%) 87%,
    hsl(135deg 82% 48%) 100%
  );
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

#board-form input[type=submit]:hover, #submit-edit-btn:hover{
    background-image: none;
    background-color: hsl(123deg 77% 33%);
}

.modal-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    opacity: 0.8;
    z-index: 1;
    display: none;
}

.edit-board-modal{
    width: 30vw;
    height: 60vh;
    background-color: #FFF;
    z-index: 2;
    position: fixed;
    top: 20%;
    left: 35%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
}

.edit-board-modal form{
    width: 80%;
}

.edit-board-modal form fieldset{
    height: 80px;
    margin: 40px 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-board-modal form fieldset.edit-form-btns{
    height: fit-content;
    flex-direction: row;
}

.edit-board-modal form label{
    font-weight: 600;
}
