#columns-container{
    display: flex;
    align-items: flex-start;
}

.column{
    width: 300px;
    min-height: 500px;
    max-height: fit-content;
    margin: 0 50px;
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 20px;
}

.column-head{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-head button{
    width: 45px;
    padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.column .divisive{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
}

#col-form input[type=text]{
    width: 80% !important;
}

#col-form input[type=submit]{
    border: none;
    background-image: linear-gradient(
    30deg,
    hsl(117deg 90% 26%) 0%,
    hsl(119deg 82% 29%) 12%,
    hsl(121deg 78% 31%) 22%,
    hsl(123deg 77% 33%) 30%,
    hsl(124deg 77% 35%) 37%,
    hsl(125deg 76% 37%) 43%,
    hsl(127deg 76% 39%) 48%,
    hsl(128deg 77% 40%) 54%,
    hsl(130deg 77% 42%) 60%,
    hsl(131deg 78% 44%) 68%,
    hsl(132deg 79% 45%) 76%,
    hsl(134deg 80% 47%) 87%,
    hsl(135deg 82% 48%) 100%
  );
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

