*{
    margin: 0;
    padding: 0;
}

:root {
    --background-color-light: #f4f4f4;
    --text-color-light: #000000;
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
    --button-bg: #4CAF50;
    --button-text: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

header, .logo-div, header .user-section, nav{
    display: flex;
    align-items: center;
}

header{
    padding: 20px 30px;
    background-image: linear-gradient(
        320deg,
        hsl(11deg 90% 58%) 0%,
        hsl(9deg 89% 58%) 10%,
        hsl(8deg 89% 59%) 17%,
        hsl(6deg 89% 59%) 24%,
        hsl(4deg 88% 60%) 30%,
        hsl(2deg 88% 60%) 37%,
        hsl(0deg 87% 60%) 43%,
        hsl(358deg 87% 60%) 50%,
        hsl(356deg 87% 59%) 57%,
        hsl(354deg 87% 58%) 66%,
        hsl(352deg 87% 57%) 75%,
        hsl(350deg 87% 56%) 86%,
        hsl(348deg 87% 54%) 100%
    );
    color: #FFF;
    position: relative;
}

.logo-div i{
    font-size: 26px;
    margin-right: 10px;
}

header nav{
    width: 12%;
    position: absolute;
    left: 44%;
    justify-content: space-between;
}

header nav a, header nav button{
    font-size: 17px;
    transition: 0.5s all ease-in-out;
}

header nav a{
    padding: 12px;
    color: #FFF;
    text-decoration: none;
}

header nav button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: hsl(348, 94%, 49%);
    cursor: pointer;
}

header .user-section{
    padding: 10px 16px;
    position: absolute;
    right: 30px;
    justify-content: space-between;
    transition: 0.5s all ease-in-out;
}

header .user-section:hover, header a:hover{
    cursor: pointer;
    background-color: hsla(0, 88%, 47%, 0.607);
    border-radius: 10px;
}

header .user-section span, header .user-section i{
    cursor: pointer;
}

header .user-section i{
    width: 25px;
    height: 25px;
    padding: 10px;
    margin-left: 15px;
    font-size: 20px;
    background-color: #bdb6b6;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switch-holder{
    position: absolute;
    right: 20%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    width: 50px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #202020;
}

input:focus + .slider {
    box-shadow: 0 0 1px #202020;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input, button{
    padding: 15px 18px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.page-title{
    width: 100%;
    margin: 60px 0 50px 0;
    text-align: center;
}

.delete-btn, #cancel-btn{
    background-image: linear-gradient(
        320deg,
        hsl(11deg 90% 58%) 0%,
        hsl(9deg 89% 58%) 10%,
        hsl(8deg 89% 59%) 17%,
        hsl(6deg 89% 59%) 24%,
        hsl(4deg 88% 60%) 30%,
        hsl(2deg 88% 60%) 37%,
        hsl(0deg 87% 60%) 43%,
        hsl(358deg 87% 60%) 50%,
        hsl(356deg 87% 59%) 57%,
        hsl(354deg 87% 58%) 66%,
        hsl(352deg 87% 57%) 75%,
        hsl(350deg 87% 56%) 86%,
        hsl(348deg 87% 54%) 100%
    );
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.delete-btn:hover, #cancel-btn:hover{
    background-image: none;
    background-color: hsl(348, 94%, 49%);
}

.edit-btn{
    background-image: linear-gradient(
    65deg,
    hsl(206deg 78% 53%) 0%,
    hsl(206deg 80% 52%) 7%,
    hsl(206deg 81% 50%) 13%,
    hsl(206deg 87% 49%) 18%,
    hsl(205deg 95% 47%) 22%,
    hsl(206deg 100% 46%) 27%,
    hsl(206deg 100% 46%) 33%,
    hsl(207deg 100% 46%) 39%,
    hsl(208deg 100% 46%) 46%,
    hsl(209deg 100% 46%) 55%,
    hsl(210deg 100% 46%) 66%,
    hsl(211deg 98% 47%) 80%,
    hsl(213deg 90% 49%) 100%
  );
}

.edit-btn:hover{
    background-image: none;
    background-color: hsl(210deg 100% 46%) ;
}

#board-form, #col-form{
    padding: 0 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#board-form input, #col-form input{
    background-color: #FFF;
    border: 1px solid #ccc;
}

#board-form #board-name, #col-form #col-name{
    width: 20%;
}

#board-form #board-desc{
    width: 65%;
}